@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.createItem-card,.form-header,.form-img,.form-control,.btn,.para,.table{
  margin-bottom: 16px;
}

.form-wrap{
    width:100vw;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 35px;
    border:1px solid var(--secondary-color);
    border-radius: 12px;
    background-color: #fff;

}

.form-card{
    width:400px;    
}


:root{
    --main-color:#8D35C0; 
    --secondary-color:#F5F5F5; 
}

button {
    background: var(--main-color);
}


.form-header{
    color:var(--main-color);
    text-align: center;
}

.form-control{
    
    background-color: var(--secondary-color);    
}
.btn{
    background-color: var(--main-color);
    border-radius: 6px;  
    color:#fff;
        
}
.btn a{
    text-decoration: none;
    color:#fff;
}

.para{
    text-align: end;
    
}
.register-list {
    text-align: center;
    
}
.register-list a{
    text-decoration: none;
    color:var(--main-color)
}

/* ItemList */

.noti-icon{
    width:25px;
    height:25px;
    background: var(--secondary-color);
    border-radius: 50%;
    text-align: center;
}

header{
   border-radius: 12px;
   margin-bottom: 16px;
   
}

.nav-right{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;   
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-padding{
    padding-left: 16px;
}



/* createlist */
.btn-outline{
 background: #fff;
 border-color: var(--main-color);
}
.btn-outline a{
    color:var(--main-color);
}
